<section id="bottom_menu">
    <div class="menu_item active_me" onclick="change_section(this, 'inventory')">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <p>Inventory</p>
    </div>
    <div class="menu_item" onclick="change_section(this, 'sell')">
        <ion-icon name="wallet-outline"></ion-icon>
        <p>Sell</p>
    </div>
    <div class="menu_item" onclick="change_section(this, 'add_product')">
        <ion-icon name="bag-add-outline"></ion-icon>
        <p>Add Product</p>
    </div>
    <div class="menu_item" onclick="change_section(this, 'transactions')">
        <ion-icon name="receipt-outline"></ion-icon>
        <p>Transactions</p>
    </div>
    <div class="menu_item" onclick="change_section(this, 'alerts')">
        <ion-icon name="notifications-outline"></ion-icon>
        <p>Alerts</p>
    </div>
</section>